html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
}

@font-face {
  font-family: customFont;
  src: url(../fonts/Vectorb.ttf);
}

#time {
  font-family: customFont;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 10px;
  margin-top: 10px;
}